---

---

<div
  class='dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap'
>
  <span
    class='dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block'
    >ข่าวประชาสัมพันธ์</span
  >
  <!-- <marquee behavior="" direction="">📌 จัดการแข่งขันระหว่างวันที่ 11-21 พ.ย. 2567                   📌 ฝ่ายจัดการแข่งขัน เปิดให้ทดสอบระบบจัดการผลการแข่งขัน ตั้งแต่วันนี้เป็นต้นไป</marquee> -->
  <marquee behavior="" direction="">⚠️  อยู่ระหว่างการพัฒนาและปรับปรุงคุณภาพเว็บไซต์ เพื่อประสบการณ์การใช้งานที่ดีของผู้ใช้  ⚠️ | 📌 ระบบจัดการผลการแข่งขัน NAKAGAME-MIS เปิดให้ฝ่ายจัดการแข่งขันทดสอบการใช้งาน ตั้งแต่วันนี้เป็นต้นไป</marquee>
</div>
