---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Countdown from '~/components/countdown.astro';
import Hero2 from '~/components/widgets/Hero2.astro';


const metadata = {
  title: 'การแข่งขันกีฬาระหว่างคณะ นาคาเกมส์',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot='title'>
      การแข่งขันกีฬาระหว่างคณะ<span class='hidden xl:inline'>นาคาเกมส์</span>
      <span class='text-accent dark:text-white highlight'> ครั้งที่ 43</span> ประจำปีการศึกษา 2567
    </Fragment>

    <Fragment slot='subtitle'>
      <span class='hidden sm:inline'>
        <span class='font-semibold'>นาคาเกมส์</span> เป็นการแข่งขันกีฬาภายในระหว่างคณะ ทั้ง 5 คณะ ได้แก่คณะวชิรญาณวงศ์ ดำรงธรรมี รังษีสังวร บวรนาคินทร์ และอรพินทุ์พิสุทธ์
      </span>
    </Fragment>
  </Hero>

 
  <Countdown />

  <Content
    isReversed
    items={[
      {
        title: 'รายงานผลการแข่งขันตามประเภทกีฬา',
        description:
          'รายงานผลการแข่งขันตามประเภทกีฬา หากกีฬายังแข่งขันไม่เสร็จสิ้นหรือเสร็จสิ้นแล้ว ผู็ใช้สามารถให้ไลน์บอท รายงานผลคะแนนการแข่งขันของแต่ละรอบได้ทันที',
        icon: 'tabler:presentation',
      },
      {
        title: 'รายงานสรุปผลการแข่งขันตามประเภทกีฬา',
        description:
          'รายงานสรุปผลการแข่งขันแต่ละประเภทกีฬา เมื่อกีฬาประเภทนั้นแข่งขันเสร็จ ผูัใช้งานสามารถให้ไลน์บอทรายงานอันดับผลการแข่งขันได้ทันที',
        icon: 'tabler:presentation',
      },
      {
        title: 'รายงานสรุปอันดับเหรียญ',
        description:
          'รายงานสรุปอันดับเหรียญของการแข่งขันกีฬาระหว่างคณะ โดยเรียงลำดับจากคะแนนเหรียญ',
        icon: 'tabler:presentation',
      },
      {
        title: 'สะดวก รวดเร็ว ทันที',
        description:
          'เมื่อฝ่ายจัดการแข่งขันบันทึกผลการแข่งขันลงในระบบ ไลน์บอทสามารถดึงผลการแข่งขันมาแสดงได้ทันที !!',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://medalrank-nakagame42.pages.dev/img/pr-linebot-nakagame.png',
      alt: 'Features Image',
    }}
  >
    <Fragment slot='content'>
      <h3 class='text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2'>ไลน์บอท นาคาเกมส์ (์NAKAGAME-BOT)</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  


  <Hero2
    title='ภาพการแข่งขันที่ผ่านมา'
    subtitle='ภาพขณะตัวแทนนักกีฬานำกล่าวคำปฏิญาณ ในพิธีเปิดการแข่งขันกีฬาระหว่างคณะ นาคาเกมส์'
    actions={[
      { variant: 'primary', text: 'ไปที่แกลเลอรี่', href: '/gallery', icon: 'tabler:square-rounded-arrow-right' },
    ]}
    image={{
      src: 'https://medalrank-nakagame42.pages.dev/img/nakagame42/1.png',
      alt: 'Ironic image associated with canceling a subscription. Subscription Landing Page Demo',
    }}
  />

  <!-- Features Widget *************** -->




  <!-- Content Widget **************** -->


  <!-- Features2 Widget ************** -->






</Layout>
