

<style>
    
    
  .container {
    color: #333;
    margin: 0 auto;
    text-align: center;
    
  }
  
  h1 {
    font-weight: bold;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 3.5rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  footer{
    padding-top: 200px;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.0rem);
    }
    
    li {
      font-size: calc(1.5rem );
    }
    
    li span {
      font-size: calc(2.375rem);
    }
    .text {
        font-size: calc(1.0rem);
    }
  }
</style>


<div class="container">
    <hr/><br><br>
    <div id="countdown">
        <h3 id="headline" class="font-bold">เหลือเวลาอีก</h3>
      <ul>
        <li><span id="days" class="text"></span>วัน</li>
        <li><span id="hours" class="text"></span>ชั่วโมง</li>
        <li><span id="minutes" class="text"></span>นาที</li>
        <li><span id="seconds" class="text"></span>วินาที</li>
      </ul>
      <br>
        <h3 id="headline" class="font-bold">จะถึงวันแข่งขันกีฬาระหว่างคณะนาคาเกมส์ครั้งที่ 43</h3><br><br>
    </div>
    <hr/><br><br>
    <!-- <div id="content" class="emoji">
      <span>🥳</span>
      <span>🎉</span>
      <span>🎂</span>
    </div> -->
</div>


<script>
    (function () {
    const second = 1000,
          minute = second * 60,
          hour = minute * 60,
          day = hour * 24;
  
    //I'm adding this section so I don't have to keep updating this pen every year :-)
    //remove this if you don't need it
    let today = new Date(),
        dd = String(today.getDate()).padStart(2, "0"),
        mm = String(today.getMonth() + 1).padStart(2, "0"),
        yyyy = today.getFullYear(),
        nextYear = yyyy + 1,
        dayMonth = "11/22/",
        birthday = dayMonth + yyyy;
    
    today = mm + "/" + dd + "/" + yyyy;
    if (today > birthday) {
      birthday = dayMonth + nextYear;
    }
    //end
    
    const countDown = new Date(birthday).getTime(),
        x = setInterval(function() {    
  
          const now = new Date().getTime(),
                distance = countDown - now;
  
          document.getElementById("days").innerText = Math.floor(distance / (day)),
            document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
            document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
            document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);
  
          //do something later when date is reached
          if (distance < 0) {
            document.getElementById("headline").innerText = "It's my birthday!";
            document.getElementById("countdown").style.display = "none";
            document.getElementById("content").style.display = "block";
            clearInterval(x);
          }
          //seconds
        }, 0)
    }());
</script>