---
import { SITE } from 'astrowind:config';
---

<span
  class='flex items-center gap-2 ml-2 text-2xl md:text-xl font-semibold text-gray-900 whitespace-nowrap dark:text-white'
>
  <img src="https://medalrank-nakagame42.pages.dev/Nakagame.svg" alt="" width="32px">

  {SITE?.name}
</span>
